@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: linear-gradient(to right, rgba(235, 224, 232, 1) 52%, rgba(254, 191, 1, 1) 53%, rgba(254, 191, 1, 1) 100%);
    font-family: 'Roboto', sans-serif
}

.card {
    border: none;
    max-width: 450px;
    border-radius: 15px;
    margin: 150px 0 150px;
    padding: 35px;
    padding-bottom: 20px !important;
    
}

.heading {
    color: rgb(141, 245, 167);
    font-size: 14px;
    font-weight: 500;
    color: #a08f20;
}

img {
    transform: translate(160px, -10px)
}

img:hover {
    cursor: pointer
}

.text-warning {
    font-size: 12px;
    font-weight: 500;
    color:rgb(141, 245, 167) !important
}

#cno {
    transform: translateY(-10px)
}

input {
    border-bottom: 1.5px solid #a08f20 !important;
    font-weight: bold;
    border-radius: 0;
    border: 0
}

.form-group input:focus {
    border: 0;
    outline: 0
}

.col-sm-5 {
    padding-left: 90px
}

.btn {
    background: rgb(141, 245, 167) !important;
    border: none;
    border-radius: 30px
}

.btn:focus {
    box-shadow: none
}